<div class="span4 offset3 launch-box text-center">

	<h1>
	
		My awesome web application

	</h1>


	<br/>

	<%= link_to 'Launch', posts_path, :class => 'btn btn-warning btn-large' %>

</div>